<div id="heading-breadcrumbs">
    {{ if .Params.ApplyUrl }}
    <div class="breadcrumbs container">
    {{ else }}
    <div class="container">
    {{ end }}
        <div class="item">
            <h1>{{ .Title }}</h1>
            {{ if .Params.Subtitle }} 
                <h3>{{ .Params.Subtitle }}</h3>
            {{ end }}
            {{ if .Params.Phone }}
                <h4><a href="tel:{{ .Params.Phone }}">{{ .Params.Phone }}</a></h4>
            {{ end }}
            {{ if .Params.Email }}
                <h4><a href="mailto:{{ .Params.Email }}">{{ .Params.Email }}</a></h4>
            {{ end }}
            {{ if .Params.Nmls }}
                <h4>NMLS #{{ .Params.Nmls }}</h4>
            {{ end }}
        </div>
        <div class="item">
            <img src="{{ .Params.Image }}" width="380" class="img-responsive" />
        </div>
        <div class="item">
            {{ if .Params.ApplyUrl }}
                <h1><a href="{{ .Params.ApplyUrl }}">Apply with {{ .Params.First }}</a></h1>
            {{ end }}
            {{ if .Params.Chat }}
                <h1><a href="{{ .Params.Chat }}">Schedule a Chat</a></h1>
            {{ end }}
        </div>
    </div>
</div>
